@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		padding: 0;
		margin: 0;
	}

	body {
		font-family: 'Mulish', sans-serif;
		line-height: 1;
		background-color: #eeeeee;
		scroll-behavior: smooth;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	margin-top: 84px;
	margin-bottom: 30px;
}
input:focus::placeholder,
textarea:focus::placeholder {
	color: transparent;
}
